# FAIR4Health Service Discovery

FAIR4Health Service Discovery to register and discover PPDDM Agents in [Consul](https://www.consul.io/). 

{{#tags}}
## {{name}}
 {{#issues}}
  {{#hasIssue}}
### {{title}} {{#hasIssueType}} *{{issueType}}* {{/hasIssueType}} {{#hasLabels}} {{#labels}} `{{.}}` {{/labels}} {{/hasLabels}}
* Further information in the Pull Request [{{issue}}]({{link}})
  {{/hasIssue}}
  {{^hasIssue}}
  {{/hasIssue}}
 {{/issues}}
{{/tags}}
